body {
    font-family: bradley hand, cursive;
    background-color: #474448;
}


table {
    font-size: 30px;
    width: 80%;
    border-radius: 5px;
    border-radius: 15px;
    margin: 20px auto;
    border: 5px solid #474448;
    border-spacing: 30px;
    text-align: center;
    background-image: url("https://img.freepik.com/premium-vector/xmas-seamless-pattern-with-red-gift-boxes-design-wallpaper-gift-wrap-surface-textures-vector_393343-565.jpg");
}

td {
    background-color: #E0DDCF;
    color:#534B52;
    background-image: url("https://thumbs.dreamstime.com/b/thin-red-diagonal-stripes-white-vector-background-grid-template-straight-parallel-lines-126686446.jpg");
}

th, td {
    padding: 30px 20px;
    border-radius: 25px;
    margin: 50px;
    border: 2px dashed  #B22234;
}

th {
    background-color: #534B52;
    color: #F1F0EA;
    border: 2px solid  #fff;
    border: 2px solid  #B22234;
    background-color: #B22234;;
}

td {
    width: 300px;
    height: 300px;
    font-weight: bold;

    color: black;

}

#table_foot {
    height: 30px;
    border: 2px solid  #B22234;
    background-color: #B22234;;
    background-image: url("");
    color: #FFFFFF;

    -webkit-text-stroke-width: none;
    -webkit-text-stroke-color: none;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #ten:hover, #eleven:hover, #tweleve:hover {
    color: transparent;
    background-position: 50% 50%;
    background-size: cover;

    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
  
      text-shadow:none;
}

#one:hover {
    background-image: url("https://www.healthxchange.sg/sites/hexassets/Assets/food-nutrition/pineapple-health-benefits-and-ways-to-enjoy.jpg");
}

#two:hover {
    background-image: url("https://avocadotea.com/cdn/shop/articles/avocado-leaf-an-antioxidant-game-changer-for-pharmaceutical-industry-843329_ef3b7aec-fe9c-4ddc-ad9e-3f6ae8b7f4dd.png?v=1743211359")
}

#three:hover {
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1198644611.jpg?c=16x9&q=h_833,w_1480,c_fill");
}

#four:hover {
    background-image: url("https://assets.bonappetit.com/photos/656f48d75b552734225041ba/16:9/w_5056,h_2844,c_limit/20231120-WEB-Lasanga-6422.jpg");
}

#five:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNzUb-4-td-4tvLzvl3qVKGVm8btAPznbcGQ&s");
}

#six:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfwTw1WATNXTglyAtW--RrSdQNMK0WP8uoqA&s");
}

#seven:hover {
    background-image: url("https://www.foodandwine.com/thmb/Wd4lBRZz3X_8qBr69UOu2m7I2iw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg");
}

#eight:hover {
    background-image: url("https://www.allrecipes.com/thmb/PKh_MtthZMtG1flNmud0MNgRK7w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/13096-Cream-of-Mushroom-Soup-ddmfs-4x3-293-b505e37374d74e81807e8a93bcdd7bab.jpg");
}

#nine:hover {
    background-image: url("https://www.seriouseats.com/thmb/aUG0KBb5ljbsd8mtL0RZNexXXUM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2016__06__20160602-lettuce-soup-vicky-wasik-8-a962494e48b34d5f8462f42e98b9aca3.jpg");
}