table{
    border-radius: 5px;
    margin: 20px auto;
    border: 1px solid black;
}

th {
    background-color: #df979e;
}

td {
    background-color: #e2e2e2;
    color:black;
}

th, td {
    padding: 30px 20px;

}

td {
    width: 100px;
    height: 100px;
}

#one:hover, #two:hover, #three:hover, #four:hover, #five:hover, #six:hover, #seven:hover, #eight:hover, #nine:hover, #ten:hover, #eleven:hover, #tweleve:hover {
    /* background-size: 80%; */
    background-size: contain;
    background-position: center;
    color: transparent;
    background-repeat: no-repeat;
}

#one:hover {
    background-image: url("https://www.healthxchange.sg/sites/hexassets/Assets/food-nutrition/pineapple-health-benefits-and-ways-to-enjoy.jpg");
}

#two:hover {
    background-image: url("https://avocadotea.com/cdn/shop/articles/avocado-leaf-an-antioxidant-game-changer-for-pharmaceutical-industry-843329_ef3b7aec-fe9c-4ddc-ad9e-3f6ae8b7f4dd.png?v=1743211359")
}

#three:hover {
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/gettyimages-1198644611.jpg?c=16x9&q=h_833,w_1480,c_fill");
}

#four:hover {
    background-image: url("https://assets.bonappetit.com/photos/656f48d75b552734225041ba/16:9/w_5056,h_2844,c_limit/20231120-WEB-Lasanga-6422.jpg");
}

#five:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNzUb-4-td-4tvLzvl3qVKGVm8btAPznbcGQ&s");
}

#six:hover {
    background-image: url("https://img.freepik.com/premium-vector/spicy-chicken-3d-editable-text-style-effect_57516-2275.jpg");
}

#seven:hover {
    background-image: url("https://www.foodandwine.com/thmb/Wd4lBRZz3X_8qBr69UOu2m7I2iw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/classic-cheese-pizza-FT-RECIPE0422-31a2c938fc2546c9a07b7011658cfd05.jpg");
}

#eight:hover {
    background-image: url("https://www.allrecipes.com/thmb/PKh_MtthZMtG1flNmud0MNgRK7w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/13096-Cream-of-Mushroom-Soup-ddmfs-4x3-293-b505e37374d74e81807e8a93bcdd7bab.jpg");
}

#nine:hover {
    background-image: url("https://www.seriouseats.com/thmb/aUG0KBb5ljbsd8mtL0RZNexXXUM=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2016__06__20160602-lettuce-soup-vicky-wasik-8-a962494e48b34d5f8462f42e98b9aca3.jpg");
}